<header class="app-main-header">
  <!-- Titulo -->
  <div class="logo-text">
    <span class="main-logo-text">Dentistas.com.br/manu</span>
  </div>

  <!-- Seção direita com nome do usuário e botão sair -->
  <div class="header-right">
    <!-- Seção com nome do usuário -->
    <div class="header-user-info">
      <span class="user-name">{{ this.config.getAdminStatus() ? 'ADMIN: ' : ''}} {{ userName$ | async }}</span>
    </div>

    <!-- Seção com botão Sair -->
    <div class="header-logout">
      <button mat-button (click)="logout()" class="logout-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
          <polyline points="16,17 21,12 16,7"></polyline>
          <line x1="21" y1="12" x2="9" y2="12"></line>
        </svg>
      </button>
    </div>
  </div>
</header>