<footer class="footer">
  <mat-toolbar color="primary" class="footer-toolbar">
    <span class="footer-content">
      <span class="footer-text">
        <a href="https://dentistas.com.br" class="footer-link">Dentistas.com.br 4.2</a>
      </span>

      <!-- USAR: propriedade em vez de getter -->
      <span class="footer-text">
        {{ userName }}
      </span>

      <span class="footer-text">
        <button class="button" (click)="logout()">
          Sair
        </button>
      </span>
    </span>
  </mat-toolbar>
</footer>