<footer class="app-footer">

  <!-- Logo text section -->
  <div class="logo-text">
    <span class="main-logo-text">Dentistas.com.br/clinica</span>
  </div>

  <!-- Controles à direita -->
  <div class="footer-controls">

    <div class="theme-selector-container">
      <button mat-icon-button (click)="toggleThemeMenu()" matTooltip="Mudar Tema" class="theme-btn">
        <mat-icon>palette</mat-icon>
      </button>
      <div class="theme-menu" *ngIf="showThemeMenu">
        <ul>
          <li *ngFor="let theme of themes" (click)="selectTheme(theme.name)"
              [class.active]="(currentTheme$ | async) === theme.name">
            {{ theme.label }}
          </li>
        </ul>
      </div>
    </div>

  </div>
</footer>