<div class="profile-card redes-card">
  <div class="card-header">
    <h3>Redes Sociais</h3>
  </div>
  
  <div class="card-body">
    <div class="redes-lista" *ngIf="hasRedesSociais(); else semRedes">
      <!-- Instagram -->
      <a *ngIf="userService.userProfile?.['instagram']" 
         [href]="formatUrl(userService.userProfile?.['instagram'], 'instagram')" 
         target="_blank" rel="noopener"
         class="rede-item instagram">
        <i class="fab fa-instagram fb-icon-margin"></i>
        <span>Instagram</span>
      </a>
      
      <!-- Facebook -->
      <a *ngIf="userService.userProfile?.['facebook']" 
         [href]="formatUrl(userService.userProfile?.['facebook'], 'facebook')" 
         target="_blank" rel="noopener"
         class="rede-item facebook">
        <i class="fab fa-facebook-f fb-icon-margin"></i>
        <span>Facebook</span>
      </a>
      
      <!-- LinkedIn -->
      <a *ngIf="userService.userProfile?.['linkedin']" 
         [href]="formatUrl(userService.userProfile?.['linkedin'], 'linkedin')" 
         target="_blank" rel="noopener"
         class="rede-item linkedin">
        <i class="fab fa-linkedin-in fb-icon-margin"></i>
        <span>LinkedIn</span>
      </a>
      
      <!-- YouTube -->
      <a *ngIf="userService.userProfile?.['youtube']" 
         [href]="formatUrl(userService.userProfile?.['youtube'], 'youtube')" 
         target="_blank" rel="noopener"
         class="rede-item youtube">
        <i class="fab fa-youtube fb-icon-margin"></i>
        <span>YouTube</span>
      </a>
      
      <!-- Twitter -->
      <a *ngIf="userService.userProfile?.['twitter']"
         [href]="formatUrl(userService.userProfile?.['twitter'], 'twitter')" 
         target="_blank" rel="noopener"
         class="rede-item twitter">
        <i class="fab fa-twitter fb-icon-margin"></i>
        <span>Twitter</span>
      </a>
      
      <!-- TikTok -->
      <a *ngIf="userService.userProfile?.['tiktok']"
         [href]="formatUrl(userService.userProfile?.['tiktok'], 'tiktok')" 
         target="_blank" rel="noopener"
         class="rede-item tiktok">
        <i class="fab fa-tiktok fb-icon-margin"></i>
        <span>TikTok</span>
      </a>
      
      <!-- Pinterest -->
      <a *ngIf="userService.userProfile?.['pinterest']"
         [href]="formatUrl(userService.userProfile?.['pinterest'], 'pinterest')" 
         target="_blank" rel="noopener"
         class="rede-item pinterest">
        <i class="fab fa-pinterest-p fb-icon-margin"></i>
        <span>Pinterest</span>
      </a>
    </div>
    
    <ng-template #semRedes>
      <div class="sem-redes">
        <i class="fas fa-info-circle"></i>
        <p>Nenhuma rede social informada.</p>
      </div>
    </ng-template>
  </div>
</div>