@import '../../../styles.scss';

// Variáveis de cores
$input-border-color: #bbb;
$input-focus-color: rgba(33, 150, 243, 0.5);

// Estilo Geral
body {
    font-family: 'Roboto', sans-serif;
    background-color: $white;
    margin: 0;
    padding: 0;
    color: $text-color;
}

.reset-container {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: $white;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    text-align: center;

    h2 {
        color: $primary-color;
        margin-bottom: 2rem;
        font-size: x-large;
        font-weight: bold;
    }
}

.form-group {
    margin-bottom: 1.5rem;
    position: relative;

    label {
        display: block;
        text-align: left;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        color: $text-color;
    }

    input {
        width: 100%;
        padding: 12px;
        border: 1px solid $input-border-color;
        border-radius: 4px;
        font-size: 1rem;
        box-sizing: border-box;

        &:focus {
            border-color: $primary-color;
            outline: none;
            box-shadow: 0 0 5px $input-focus-color;
        }
    }
}

.btn-primary-reset {
    width: 100%;
    padding: 12px;
    background-color: $secondary-color;
    color: $white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darken($secondary-color, 10%);
    }

    &:disabled {
        background-color: #bbb;
        cursor: not-allowed;
    }
}