<div class="group-sharing-container">
  <div *ngIf="isLoading" class="loading-spinner">
    <mat-progress-spinner diameter="30" mode="indeterminate"></mat-progress-spinner>
    <span>Carregando grupos...</span>
  </div>
  
  <div *ngIf="!isLoading">
    <mat-form-field appearance="outline" class="group-select">
      <mat-label>Compartilhar com grupo</mat-label>
      <mat-select [value]="selectedGroupId" (selectionChange)="onGroupChange($event.value)">
        <mat-option [value]="null">Sem compartilhamento</mat-option>
        <mat-option *ngFor="let group of groups" [value]="group.id">
          {{ group.name }}
        </mat-option>
      </mat-select>
      <mat-hint>Selecione um grupo para compartilhar este registro</mat-hint>
    </mat-form-field>
  </div>
</div>