<div class="container container_principal">

  <!-- Header -->
  <div class="header">
    <div class="actions">
      <img src="https://dentistas.com.br/assets/voltar.png" class="navegacao" (click)="voltar()">
      <img src="https://dentistas.com.br/assets/home.png" class="navegacao" (click)="util.goHome()">
    </div>
    <h1 class="title">{{ titulo_da_pagina }}</h1>
    <div class="actions">
      <img src="https://dentistas.com.br/assets/lupa.png" class="navegacao" (click)="showbusca()">
      <img src="https://dentistas.com.br/assets/novo.png" class="navegacao" (click)="incluir()">
    </div>
  </div>

  <!-- <div *ngIf="subtitulo_da_pagina" class="record-header">
    {{ subtitulo_da_pagina }}
  </div> -->


  <!-- Exibir mensagem de carregamento enquanto os dados estão sendo buscados -->
  <div *ngIf="isLoading" class="loading-container">
    <div class="spinner-container">
      <div class="spinner"></div>
    </div>
  </div>
  <div *ngIf="!isLoading && registros.length === 0" class="aviso">
    <p>Nenhuma ficha encontrada.</p>
  </div>

  <!-- Barra de pesquisa -->
  <div *ngIf="registros.length > 0 && show_busca" class="search-bar">
    <input type="text" placeholder="Buscar registro..." [(ngModel)]="searchQuery" (input)="filtrarRegistros()" />
  </div>

  <div *ngIf="!isLoading && registrosPaginados.length > 0 && this.subtitulo_da_pagina" class="record-header">
    {{ subtitulo_da_pagina }}
  </div>


  <!-- Listagem de registros para coleção ou subcoleção -->
  <div *ngIf="!isLoading && registrosPaginados.length > 0">


    <div class="registros-table">
      <table>
        <thead>

          <tr *ngIf="!this.subcollection">
            <th>Nome</th>
            <th class="right">Nascimento</th>
          </tr>

          <tr *ngIf="this.subcollection">
            <th (click)="sortBy(firstField)">
              {{ firstHeader }}
              <button class="btn-sort">
                <img src="https://dentistas.com.br/assets/sort.png" alt="" class="sort-icon">
              </button>
            </th>
            <th (click)="sortBy('data')" class="right">
              Data
              <button class="btn-sort">
                <img src="https://dentistas.com.br/assets/sort.png" alt="" class="sort-icon">
              </button>
            </th>
          </tr>

        </thead>
        <tbody>

          <tr *ngFor="let registro of registrosPaginados" (click)="verFicha(registro.id)" style="cursor: pointer;">

            <ng-container *ngIf="!this.subcollection">
              <td>{{ registro.nome ? registro.nome : '(vazio)' }}</td>
              <td class="right">{{ util.normalizarFormatoData(registro.nascimento) }}</td>
            </ng-container>

            <ng-container *ngIf="this.subcollection">
              <td>{{ registro.nome }}</td>
              <td class="right">{{ util.normalizarFormatoData(registro.data) }}</td>
            </ng-container>

          </tr>

        </tbody>
      </table>
    </div>

  </div>

  <!-- Paginação -->
  <div *ngIf="!isLoading && registrosPaginados.length > 0">

    <!-- LINHA 1 -->
    <div class="pagination">
      <span (click)="previousPage()">
        <img src="https://dentistas.com.br/assets/voltar.png" alt="Anterior" />
      </span>
      <span>Página {{ page }} de {{ totalPages }}</span>
      <span (click)="nextPage()">
        <img src="https://dentistas.com.br/assets/seguir.png" alt="Próximo" />
      </span>
    </div>

    <!-- LINHA 2 -->
    <div class="pagination_total">
      <span></span>
      <span>{{ registrosPaginados.length }} de {{ filteredTotal }} registros {{ filteredTotal != totalRegistros ?
        'filtrados (' + totalRegistros + ' totais)' : '' }}</span>
      <span></span>
    </div>

  </div>

  <!-- Header -->
  <div *ngIf="this.userEmail == 'emanuellealbuquerque40@gmail.com'" class="header">
    <div class="actions">
      <img src="https://dentistas.com.br/assets/vazio.png" class="navegacao">
      <!-- <img src="https://dentistas.com.br/assets/vazio.png" class="navegacao"> -->
    </div>

    <div class="rodape">
      <img src="https://dentistas.com.br/assets/chatbot2.png" class="navegacao" (click)="util.go('erupcoes')"><br>
    </div>

    <div class="actions">
      <img src="https://dentistas.com.br/assets/vazio.png" class="navegacao">
      <!-- <img src="https://dentistas.com.br/assets/vazio.png" class="navegacao"> -->
    </div>
  </div>

</div>