<div class="container container_principal">

  <!-- HEADER -->
  <div class="header">
    <div class="left">
      <img src="https://dentistas.com.br/assets/voltar.png" class="navegacao" (click)="voltar()">
      <img src="https://dentistas.com.br/assets/home.png" class="navegacao" (click)="util.goHome()">
    </div>
    <h1 class="title">{{ titulo_da_pagina }}</h1>
    <div class="right">
      <img src="https://dentistas.com.br/assets/editar.png" class="navegacao_direita" (click)="editarRegistro()">
      <img src="https://dentistas.com.br/assets/lixo.png" class="navegacao_direita" (click)="excluirRegistro()">
    </div>
  </div>

  <div class="record-header">
    {{ subtitulo_da_pagina }}
  </div>
  <!-- HEADER / -->

  <!-- Botões das fichas internas -->
  <div *ngIf="show_menu">
    <app-menu [collection]="collection" [id]="id"></app-menu>
  </div>

  <!-- Detalhes -->
  <div class="dynamic-form-container">

    <!-- Skeleton loader while loading -->
    <div *ngIf="isLoading$ | async">
      <app-skeleton-loader 
        [itemCount]="5">
      </app-skeleton-loader>
    </div>

    <!-- Content when loaded -->
    <div *ngIf="(isLoading$ | async) === false && FormService.fichaForm && FormService.campos.length > 0">

    <!-- Container 1: Exibe todos os campos PREENCHIDOS de collections -->
    <form *ngIf="!FormService.isLoading && !subcollection" [formGroup]="FormService.fichaForm" class="record-details borda_reta_topo">
      <div *ngFor="let campo of FormService.campos">
        <!-- Só exibe se estiver preenchido -->
        <div *ngIf="FormService.registro[campo.nome] && FormService.registro[campo.nome].length > 0" class="detail-container">
          <label [for]="campo.nome" class="detail-label">{{ campo.label }}</label>
          <ng-container [ngSwitch]="campo.tipo">
            <!-- Para URL, exibe clicável abrindo em nova janela -->
            <ng-container *ngSwitchCase="'url'">
              <div (click)="openUrl(FormService.registro[campo.nome])" style="cursor:pointer;">
                <input
                  type="url"
                  [value]="FormService.registro[campo.nome]"
                  class="detail-value url"
                  readonly>
              </div>
            </ng-container>
            <!-- Textarea -->
            <textarea
              *ngSwitchCase="'textarea'"
              [formControlName]="campo.nome"
              [id]="campo.nome"
              class="detail-value"
              rows="5"
              placeholder="Digite o conteúdo"
            ></textarea>
            <!-- Demais tipos -->
            <input
              *ngSwitchDefault
              [type]="campo.tipo"
              [formControlName]="campo.nome"
              [id]="campo.nome"
              class="detail-value"
            >
          </ng-container>
        </div>
      </div>
    </form>

<!-- Container 1: Campos fixos (largura fixa) de subcollections -->
<form *ngIf="!FormService.isLoading && subcollection" [formGroup]="FormService.fichaForm" class="record-details borda_reta_topo">
  <div *ngFor="let campo of fixedFields">
    <div class="detail-container">
      <label [for]="campo.nome" class="detail-label">{{ campo.label }}</label>
      <ng-container [ngSwitch]="campo.tipo">
        <!-- Para campos do tipo 'url', utiliza o input com readonly e click para abrir a URL -->
        <ng-container *ngSwitchCase="'url'">
          <div (click)="openUrl(FormService.registro[campo.nome])" style="cursor:pointer;">
            <input
              type="url"
              [value]="FormService.registro[campo.nome]"
              class="detail-value url"
              readonly>
          </div>
        </ng-container>
        <textarea *ngSwitchCase="'textarea'" [formControlName]="campo.nome" [id]="campo.nome" class="detail-value"
          rows="3"></textarea>
        <input *ngSwitchDefault [type]="campo.tipo" [formControlName]="campo.nome" [id]="campo.nome"
          class="detail-value">
      </ng-container>
    </div>
  </div>
</form>

        
    <br *ngIf="subcollection && adjustableFields.length > 0">

    <!-- Só mostra o slider e container 2 se for subcollection E se tiver campos para exibir -->
    <div class="width-control" *ngIf="subcollection && adjustableFields.length > 0">
      <div class="slider-wrapper">
        <label for="labelWidthRange"></label>
        <input
          type="range"
          id="labelWidthRange"
          min="100"
          max="500"
          [(ngModel)]="customLabelWidthValue"
          (input)="updateCustomLabelWidth()"
        >
        <span class="small">{{ customLabelWidthValue }}px</span>
      </div>
    </div>



    <!-- Container 2: campos extras para a subcollection -->
    <div class="width-control" *ngIf="subcollection && adjustableFields.length > 0">
      <div class="record-details" [style.--label-width]="customLabelWidth">
        <ng-container *ngFor="let campo of adjustableFields">
          
          <div class="detail-container" 
           *ngIf="FormService.registro[campo.nome] !== null 
                   && FormService.registro[campo.nome] !== undefined 
                   && FormService.registro[campo.nome] !== '' 
                   && FormService.registro[campo.nome] !== false">
            <label [for]="campo.nome" class="detail-label">{{ campo.label }}:</label>
            <div class="detail-value">
              <!-- Se for checkbox/boolean -->
              <ng-container *ngIf="campo.tipo === 'checkbox' || campo.tipo === 'boolean'">
                {{ FormService.registro[campo.nome] ? 'Sim' : 'Não' }}
              </ng-container>
              <!-- Se for URL, exibe clicável abrindo em nova janela -->
              <ng-container *ngIf="campo.tipo === 'url'">
                <div (click)="openUrl(FormService.registro[campo.nome])" style="cursor:pointer;">
                  <input
                    type="url"
                    [value]="FormService.registro[campo.nome]"
                    class="detail-value url"
                    readonly>
                </div>
              </ng-container>
              <!-- Demais tipos -->
              <ng-container *ngIf="campo.tipo !== 'checkbox' && campo.tipo !== 'boolean' && campo.tipo !== 'url'">
                {{ FormService.registro[campo.nome] }}
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <!-- Formulário dinâmico para exibir apenas os campos adicionais (opcional) -->
    <!-- <div *ngIf="!FormService.isLoading && menu_exame" class="extra-fields-container">
      <div class="espacador_vertical"></div>
      <form [formGroup]="FormService.fichaForm" class="record-details">
        <div *ngFor="let campoNome of getDynamicFields()">
          <div *ngIf="campoNome !== 'id'" class="detail-container">
            <label [for]="campoNome" class="detail-label">{{ campoNome | titlecase }}</label>
            <input type="text" [formControlName]="campoNome" [id]="campoNome" class="detail-value" readonly>
          </div>
        </div>
      </form>
    </div> -->

    </div> <!-- Close content div -->
  </div>
</div>
