<div class="container container_principal">

	<div class="header">
		<div class="actions">
			<img src="https://dentistas.com.br/assets/voltar.png" class="navegacao" (click)="util.voltar()">
		</div>
		<h1 class="title">Importar Cadastro</h1>
		<div class="actions">
			<!-- <img src="https://dentistas.com.br/assets/editar.png" class="navegacao" (click)="editar()"> -->
			<img src="https://dentistas.com.br/assets/vazio.png" class="navegacao">
		</div>
	</div>
	<div class="container">

		<div class="container center">

			<div class="espacador_vertical_duplo"></div>

			<!-- Seletor de Coleção -->
			<label for="collection">Escolha o cadastro para onde importar:</label>
			<select id="collection" [(ngModel)]="selectedCollection">
				<option value="associados">Associados</option>
				<option value="pacientes">Pacientes</option>
				<option value="alunos">Alunos</option>
				<option value="professores">Professores</option>
				<option value="dentistas">Dentistas</option>
				<option value="equipe">Equipe</option>
				<option value="proteticos">Protéticos</option>
			</select>

			<div class="espacador_vertical_duplo"></div>

			<input type="file" (change)="onFileSelect($event)" accept=".csv" />
			&nbsp;
			<button (click)="importarDados()" [disabled]="!csvData.length">Importar Dados</button>

			<div class="espacador_vertical_duplo"></div>
			<div *ngIf="importStatus" class="aviso">
				<p>{{ importStatus }}</p>
			</div>
		</div>
	</div>


</div>