<div class="container container_principal">

    <div class="header">
        <div class="actions">
            <img src="https://dentistas.com.br/assets/voltar.png" class="navegacao" (click)="util.goHome()">
        </div>
        <h1 class="title">Configurações</h1>
        <div class="actions">
            <!-- <img src="https://dentistas.com.br/assets/editar.png" class="navegacao" (click)="editar()"> -->
            <img src="https://dentistas.com.br/assets/vazio.png" class="navegacao">
        </div>
    </div>

    <!-- PARA TODOS USUARIOS -->
    <div class="container">

        <div id="Services" class="container margin0">
            <section class="services-section icon-grid largo">

                <div class="icon-item" (click)="go('camposRegistro')">
                    <img src="https://dentistas.com.br/assets/ficha_campos.png" alt="Configurar">
                    <p>PERSONALIZAR CAMPOS DOS CADASTROS</p>
                </div>


            </section>

        </div>

    </div>

</div>