@use '../../styles.scss' as styles;


.services-section.icon-grid {
  display: flex;
  flex-direction: column; /* Alinha os itens em uma coluna */
  gap: 15px; /* EspaÃ§amento entre os itens */
}

.icon-item {
  display: flex;
  flex-direction: row; /* Alinha o Ã­cone e o texto horizontalmente */
  align-items: center; /* Centraliza verticalmente o texto em relaÃ§Ã£o ao Ã­cone */
  cursor: pointer;
}

.icon-item img {
  width: 50px; /* Tamanho do Ã­cone */
  height: auto;
  margin-right: 15px; /* EspaÃ§o entre o Ã­cone e o texto */
}

.icon-item p {
  margin: 0;
  font-weight: bold; /* Deixa o texto em negrito */
  font-size: 1rem; /* Tamanho normal do texto */
  color: styles.$primary-color; /* Cor do texto (ajuste conforme necessÃ¡rio) */
}

.container-red-border {
  border: 2px solid styles.$red-dark; /* Borda vermelha */
  border-radius: 8px; /* Borda arredondada */
  padding: 10px; /* EspaÃ§amento interno */
  margin-top: 20px; /* EspaÃ§amento superior */
  background-color: #ffe2e2; /* Cor de fundo */
}


