<div class="container container_principal" [@fadeAnimation]>
  
  <!-- HEADER existente -->
  <div class="sticky-header">
    <div class="header">
      <div class="actions">
        <img src="https://dentistas.com.br/assets/voltar_red.png" class="navegacao" (click)="voltar()">
      </div>
      <h1 class="title">{{ titulo_da_pagina }}</h1>
      <div class="actions">
        <img src="https://dentistas.com.br/assets/salvar_red.png" class="navegacao" (click)="salvar()">
      </div>
    </div>
  </div>

  <!-- Slider de largura existente -->
  <div class="sticky-slider">
    <div class="width-control">
      <div class="slider-wrapper">
        <label for="labelWidthRange"> </label>
        <input type="range" id="labelWidthRange" min="100" max="500" [(ngModel)]="customLabelWidthValue"
          [ngModelOptions]="{standalone: true}" (input)="updateCustomLabelWidth()" value="150">
        <span class="small">{{ customLabelWidthValue }}px</span>
      </div>
    </div>
  </div>


  <!-- CONTEUDO PRINCIPAL -->

  <div id='00' class="dynamic-form-container" *ngIf="FormService.fichaForm && FormService.campos.length > 0">

    <!-- Container 1:collections -->
    <form *ngIf="!FormService.isLoading && !subcollection" [formGroup]="FormService.fichaForm"
      [style.--label-width]="customLabelWidth">

      <!-- Campos não agrupados -->
      <div class="record-details">
        <!-- <div class="record-details-top">&nbsp;</div> -->
        <div id="01" *ngFor="let campo of FormService.camposNaoAgrupados">
          <div *ngIf="campo.nome !== 'id'" class="detail-container">
            <label [for]="campo.nome" class="detail-label">{{ campo.label }}</label>
            <ng-container [ngSwitch]="campo.tipo">
              <!-- Campos booleanos: checkbox -->
              <input *ngSwitchCase="'checkbox'" type="checkbox" [formControlName]="campo.nome" [id]="campo.nome">
              <input *ngSwitchCase="'boolean'" type="checkbox" [formControlName]="campo.nome" [id]="campo.nome">

              <!-- Para URL -->
              <ng-container *ngSwitchCase="'url'">
                <input type="url" [formControlName]="campo.nome" [id]="campo.nome" class="detail-value url">
              </ng-container>

              <!-- Textarea -->
              <ng-container *ngSwitchCase="'textarea'">
                <textarea [formControlName]="campo.nome" [id]="campo.nome" class="detail-value" rows="2"
                  placeholder="Digite o conteúdo"></textarea>
              </ng-container>

              <!-- Campo texto com autofocus para "nome" -->
              <ng-container *ngSwitchCase="'text'">
                <input *ngIf="campo.nome === 'nome'; else campoSemFocus" type="text" [formControlName]="campo.nome"
                  [id]="campo.nome" class="detail-value" appAutoFocus
                  (change)="FormService.onFieldChange($event, campo.nome)" />
                <ng-template #campoSemFocus>
                  <input type="text" [formControlName]="campo.nome" [id]="campo.nome" class="detail-value"
                    (change)="FormService.onFieldChange($event, campo.nome)" />
                </ng-template>
              </ng-container>

              <!-- Demais tipos -->
              <ng-container *ngSwitchDefault>
                <input [type]="campo.tipo" [formControlName]="campo.nome" [id]="campo.nome" class="detail-value" />
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>

      <!-- Campos agrupados por grupo -->
      <ng-container *ngFor="let grupoObj of FormService.gruposCampos | keyvalue">
        <div class="grupo-section">
          <div class="grupo-titulo" (click)="toggleGrupo(grupoObj.key)">
            {{ grupoObj.key }}
            <span *ngIf="gruposExpandidos[grupoObj.key]">▲</span>
            <span *ngIf="!gruposExpandidos[grupoObj.key]">▼</span>
          </div>

          <div class="grupo-campos" [ngClass]="{'grupo-hidden': !gruposExpandidos[grupoObj.key]}">
            <ng-container *ngFor="let campo of grupoObj.value">
              <div *ngIf="campo.nome !== 'id'" class="detail-container">
                <label [for]="campo.nome" class="detail-label">{{ campo.label }}</label>
                <ng-container [ngSwitch]="campo.tipo">
                  <!-- Campos booleanos: checkbox -->
                  <input *ngSwitchCase="'checkbox'" type="checkbox" [formControlName]="campo.nome" [id]="campo.nome">
                  <input *ngSwitchCase="'boolean'" type="checkbox" [formControlName]="campo.nome" [id]="campo.nome">

                  <!-- URL -->
                  <ng-container *ngSwitchCase="'url'">
                    <input type="url" [formControlName]="campo.nome" [id]="campo.nome" class="detail-value url">
                  </ng-container>

                  <!-- Textarea -->
                  <ng-container *ngSwitchCase="'textarea'">
                    <textarea [formControlName]="campo.nome" [id]="campo.nome" class="detail-value" rows="2"
                      placeholder="Digite o conteúdo"></textarea>
                  </ng-container>

                  <!-- Texto -->
                  <ng-container *ngSwitchCase="'text'">
                    <input type="text" [formControlName]="campo.nome" [id]="campo.nome" class="detail-value"
                      (change)="FormService.onFieldChange($event, campo.nome)" />
                  </ng-container>

                  <!-- Outros -->
                  <ng-container *ngSwitchDefault>
                    <input [type]="campo.tipo" [formControlName]="campo.nome" [id]="campo.nome" class="detail-value" />
                  </ng-container>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </form>






    <!-- Para subcollections -->
    <div id="02" *ngIf="!FormService.isLoading && subcollection">

      <form [formGroup]="FormService.fichaForm" (ngSubmit)="onSubmit()" [style.--label-width]="customLabelWidth">

        <div class="record-details">
          <!-- Grupo de campos ajustáveis -->
          <div class="full-width-container" *ngIf="adjustableFields.length > 0">


            <div *ngFor="let grupo of groupByGrupo(adjustableFields) | keyvalue; trackBy: trackByKey">
              <!-- MUDANÇA: Remover condição *ngIf="grupo.key" para mostrar todos os grupos -->



              <div class="grupo-titulo" (click)="toggleGrupo(grupo.key)">
                {{ grupo.key || 'Campos Gerais' }}
                <span *ngIf="gruposExpandidos[grupo.key]">▲</span>
                <span *ngIf="!gruposExpandidos[grupo.key]">▼</span>
              </div>

              <!-- <div class="record-details-top">&nbsp;</div> -->


              <div class="grupo-campos" [ngClass]="{'grupo-hidden': !gruposExpandidos[grupo.key]}">

                <!-- Implementação do loop para subgrupos -->


                <ng-container
                  *ngFor="let subgrupoObj of groupBySubgrupo(grupo.value) | keyvalue; trackBy: trackBySubgrupo">

                  <!-- MUDANÇA: Usar isValidSubgrupo para verificar se o subgrupo deve ter título -->
                  <div *ngIf="isValidSubgrupo(subgrupoObj.key)" class="subgrupo-titulo"
                    (click)="toggleSubgrupo(grupo.key + '-' + subgrupoObj.key)">
                    {{ subgrupoObj.key }}
                    <span *ngIf="subgruposExpandidos[grupo.key + '-' + subgrupoObj.key]">▲</span>
                    <span *ngIf="!subgruposExpandidos[grupo.key + '-' + subgrupoObj.key]">▼</span>
                  </div>

                  <!-- MUDANÇA: Modificar condição de ocultação para subgrupos vazios -->
                  <!-- Campos do subgrupo - sempre visíveis se o subgrupo não for válido -->
                  <div class="subgrupo-campos"
                    [ngClass]="{'subgrupo-hidden': isValidSubgrupo(subgrupoObj.key) && !subgruposExpandidos[grupo.key + '-' + subgrupoObj.key]}">
                    <div *ngFor="let campo of subgrupoObj.value; trackBy: trackByCampo">
                      <!-- O resto permanece igual -->
                      <div class="detail-container">
                        <label [for]="campo.nome" class="detail-label">{{ campo.label }}</label>
                        <ng-container [ngSwitch]="campo.tipo">
                          <!-- URL -->
                          <ng-container *ngSwitchCase="'url'">
                            <input type="url" [formControlName]="campo.nome" [id]="campo.nome" class="detail-value url">
                          </ng-container>

                          <!-- Textarea -->
                          <ng-container *ngSwitchCase="'textarea'">
                            <textarea [formControlName]="campo.nome" [id]="campo.nome" class="detail-value" rows="2"
                              placeholder="Digite o conteúdo"></textarea>
                          </ng-container>

                          <!-- Campo texto -->
                          <ng-container *ngSwitchCase="'text'">
                            <input type="text" [formControlName]="campo.nome" [id]="campo.nome" class="detail-value"
                              (change)="FormService.onFieldChange($event, campo.nome)" />
                          </ng-container>

                          <!-- Campo data -->
                          <ng-container *ngSwitchCase="'date'">
                            <input type="date" [formControlName]="campo.nome" [id]="campo.nome" class="detail-value">
                          </ng-container>

                          <!-- Campos booleanos: checkbox -->
                          <input *ngSwitchCase="'checkbox'" type="checkbox" [formControlName]="campo.nome"
                            [id]="campo.nome">
                          <input *ngSwitchCase="'boolean'" type="checkbox" [formControlName]="campo.nome"
                            [id]="campo.nome">

                          <!-- Outros tipos de campo -->
                          <ng-container *ngSwitchDefault>
                            <input [type]="campo.tipo" [formControlName]="campo.nome" [id]="campo.nome"
                              class="detail-value" />
                          </ng-container>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>

</div>