@import '../../styles.scss';

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 110px;

    img {
      width: 55px;
      height: 55px;
    }

    p {
      font-weight: 500;
      color: $primary-color;
      font-size: 8px;
    }
  }