<div>


  <!-- Conteúdo principal -->

  <div id="Services" class="container" (click)="hideServices2()">
    <section class="services-section icon-grid largo pad_header">

      <app-header></app-header>

    </section>

    <section class="services-section icon-grid largo">

      <div class="icon-item" *ngIf="visibleIcons['pacientes']" (click)="go('list/pacientes')">
        <img src="https://dentistas.com.br/assets/pacientes.png" alt="Pacientes">
        <p>PACIENTES</p>
      </div>

      <div class="icon-item" *ngIf="visibleIcons['alunos']" (click)="go('list/alunos')">
        <img src="https://dentistas.com.br/assets/alunos.png" alt="Alunos">
        <p>ALUNOS</p>
      </div>

      <div class="icon-item" *ngIf="visibleIcons['professores']" (click)="go('list/professores')">
        <img src="https://dentistas.com.br/assets/professores.png" alt="Professores">
        <p>PROFESSORES</p>
      </div>

      <div class="icon-item" *ngIf="visibleIcons['dentistas']" (click)="go('list/dentistas')">
        <img src="https://dentistas.com.br/assets/clinica.png" alt="Dentistas">
        <p>DENTISTAS</p>
      </div>

      <div class="icon-item" *ngIf="visibleIcons['equipe']" (click)="go('list/equipe')">
        <img src="https://dentistas.com.br/assets/equipe.png" alt="Equipe">
        <p>EQUIPE</p>
      </div>

        
        <div class="icon-item" *ngIf="visibleIcons['associados']" (click)="go('list/associados')">
          <img src="https://dentistas.com.br/assets/associados.png" alt="Associados">
          <p>ASSOCIADOS</p>
        </div>

      <div class="icon-item" *ngIf="visibleIcons['indicador']" (click)="go('list/indicador')">
        <img src="https://dentistas.com.br/assets/indicador.png" alt="Indicador">
        <p>INDICADOR</p>
      </div>

      <div class="icon-item" *ngIf="visibleIcons['dentais']" (click)="go('list/dentais')">
        <img src="https://dentistas.com.br/assets/carrinho.png" alt="Dentais">
        <p>DENTAIS</p>
      </div>

      <div class="icon-item" *ngIf="visibleIcons['tutfop']" (click)="go('tutfop')">
        <img src="https://dentistas.com.br/assets/chatbot.png" alt="TUTFOP">
        <p>TUTFOP</p>
      </div>

  <!--   
      <div class="icon-item" *ngIf="visibleIcons['empresas']" (click)="go('list/empresas')">
        <img src="https://dentistas.com.br/assets/empresas.png" alt="Empresas">
        <p>EMPRESAS</p>
      </div>

      <div class="icon-item" *ngIf="visibleIcons['fornecedores']" (click)="go('list/fornecedores')">
        <img src="https://dentistas.com.br/assets/fornecedores.png" alt="Fornecedores">
        <p>FORNECEDORES</p>
      </div>
     -->

      <div class="icon-item" (click)="go('perfil')">
        <img src="https://dentistas.com.br/assets/perfil.png" alt="Seu Perfil">
        <p>PERFIL PROFISSIONAL</p>
      </div>

      <div class="icon-item" (click)="go('')">
        <img src="https://dentistas.com.br/assets/chatbot.png" alt="Meu Chatbot">
        <p>MEU CHATBOT</p>
      </div>

      <div class="icon-item" (click)="go('')">
        <img src="https://dentistas.com.br/assets/global.png" alt="Sua Homepage">
        <p>MINHA HOMEPAGE</p>
      </div>


      <div class="icon-item" (click)="go('')">
        <img src="https://dentistas.com.br/assets/chat.png" alt="Sua Homepage">
        <p>MINHAS CONVERSAS</p>
      </div>


      <div class="icon-item" (click)="go('backup')">
        <img src="https://dentistas.com.br/assets/backup.png" alt="Backup">
        <p>BACKUP </p>
      </div>


    </section>

    <section *ngIf="configuracoes.is_admin && showServices2" class="services-section icon-grid largo"
      (click)="$event.stopPropagation()">

      <div class="icon-item" (click)="util.go_url(url_agenda)">
        <img src="https://dentistas.com.br/assets/google-calendar.png" alt="Agenda Google">
        <p>AGENDA GOOGLE</p>
      </div>

      <div class="icon-item" (click)="util.go_url(url_gmail)">
        <img src="https://dentistas.com.br/assets/google-gmail.png" alt="Gmail">
        <p>GMAIL</p>
      </div>

    </section>

  </div>


  <div id="Services2" *ngIf="configuracoes.is_admin && showServices2" class="container mt-20" (click)="hideServices2()">
    <section class="services-section icon-grid largo" (click)="$event.stopPropagation()">

      <div class="icon-item" (click)="go('list/equipe')">
        <img src="https://dentistas.com.br/assets/usuarios.png" alt="Equipe">
        <p>USUÁRIOS</p>
      </div>

      <div class="icon-item" (click)="go('importar-cadastro')">
        <img src="https://dentistas.com.br/assets/ficha_campos.png" alt="Importar Cadastro">
        <p>IMPORTAR CADASTRO </p>
      </div>

      <div class="icon-item" (click)="go('config')">
        <img src="https://dentistas.com.br/assets/config.png" alt="Configurar">
        <p>CONFIGURAR </p>
      </div>

      <div class="icon-item" (click)="go('tutfop')">
        <img src="https://dentistas.com.br/assets/chatbot.png" alt="TUTFOP">
        <p>TUTFOP </p>
      </div>

    </section>
  </div>







</div>